---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  greet: string;
}

const { title, greet } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/terminal-grotesque-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="preload" href="/css/prism-laserwave.css" as="style" />
    <link rel="stylesheet" href="/css/prism-laserwave.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <style>
      @font-face {
        font-family: "Terminal";
        src: url("/fonts/terminal-grotesque-webfont.eot");
        src:
          url("/fonts/terminal-grotesque-webfont.eot?#iefix")
            format("embedded-opentype"),
          url("/fonts/terminal-grotesque-webfont.woff2") format("woff2"),
          url("/fonts/terminal-grotesque-webfont.woff") format("woff"),
          url("/fonts/terminal-grotesque-webfont.ttf") format("truetype"),
          url("/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular")
            format("svg");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      body {
        font-family: "Terminal", monospace;
      }
    </style>
  </head>
  <body
    class="flex items-center justify-center min-h-screen selection:bg-surface1"
  >
    <div
      class="frame text-text bg-cat w-[100vw] h-[100vh] shadow-rose md:rounded-t-lg overflow-hidden border-rosewater md:border-2 md:w-[min(85vw,85vh)] md:h-[min(85vw,85vh)]"
    >
      <div
        style="grid-area: head;"
        class="flex items-center justify-center bg-rosewater text-cat bg-[url('/images/dit.png')] bg-cover bg-no-repeat"
      >
        <span class="text-xl">bitbyte</span>
      </div>
      <Navigation />
      <Header title={title} greet={greet} />
      <main
        style="grid-area: content;"
        class="p-2 overflow-x-hidden overflow-y-auto container mx-auto px-5 text-pretty"
      >
        <slot style="grid-area: content;" />
      </main>
      <Footer />
    </div>
  </body><style is:global>
    * {
      scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
      @apply bg-blue;
      width: 15px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-text;
    }

    html {
    }

    @keyframes moveBackground {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: -100vw 100vh;
      }
    }

    body {
      font-size: 21px;
      background-color: #424266;
      letter-spacing: 0.5px;
    }

    a:not(nav a) {
      @apply text-rosewater underline hover:text-poison  hover:bg-rosewater;
    }

    @media (min-width: 640px) {
      body {
        background-size: 150vw 150vh;
        background-repeat: repeat;
        animation: moveBackground 30s linear infinite;
        background-image: url("/images/ditther.png");
      }
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .frame {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px minmax(50px, auto) minmax(40px, auto) 1fr 50px;
      grid-template-areas:
        "head"
        "navigation"
        "title"
        "content"
        "footer";
    }

    @media (min-width: 1024px) {
      .frame {
        grid-template-columns: 150px 1fr;
        grid-template-rows: 50px minmax(50px, auto) 1fr 50px;
        grid-template-areas:
          "head head"
          "navigation title"
          "navigation content"
          "navigation footer";
      }
    }
  </style>
</html>
